{% extends "base.html" %}
{% load i18n %}

{% block js %}
<script>
    var upload_url = '{% url "profile-avatar-upload" %}';
    var delete_url = '{% url "profile-avatar-delete" %}';
    var csrf_token = '{{ csrf_token }}';

    $(document).ready(function(){
        var uploader = new qq.FineUploader({
            element: document.getElementById('avatar-uploader'),
            button: document.getElementById('avatar-uploader-button'),
            multiple: false,
            request: {
                endpoint: upload_url,
                params: {'csrfmiddlewaretoken': csrf_token}
            },
            chunking: {
                enabled: true
            },
            callbacks: {
                onComplete: function(id, name, response) {
                    var img = $('<img>').attr('src', response.image);
                    var delete_link = $('<a>').addClass('delete').attr('href', '#').html("Delete avatar");
                    $('.avatar').html(img).append($('<br>')).append(delete_link);
                    $('.qq-upload-list').remove();
                },
                onError: function(id, name, reason) {
                    alert(reason);
                    $('.qq-upload-list').remove();
                }

            }
        });

        $(document).on('click', '.avatar .delete', function(){
            if (confirm("Are you shure?")) {
                $.post(delete_url, {'csrfmiddlewaretoken': csrf_token}, function(){
                    var img = $('<img>').attr('src', '/static/default_avatar.png');
                    $('.avatar').html(img);
                });
            }

            return false;
        });
    });
</script>
{% endblock js %}

{% block content %}

{% if messages %}
<div>
    {% for message in messages %}
        <h3>{% trans "Changes successfully saved" %}</h3>
    {% endfor %}
</div>
{% endif %}

<form action="" method="POST" parsley-validate>
    {% csrf_token %}

    <div class="avatar">
    <img src="{{ profile.get_avatar }}"><br>

    {% if profile.avatar %}
    <a href="#" class="delete">{% trans "Delete avatar" %}</a>
    {% endif %}
    </div>

    <a id="avatar-uploader-button">Upload avatar</a>
    <div id="avatar-uploader">
    </div>

    {% for field in form %}
        <div class="field">
            <b>{{ field.label_tag }}</b><br>
            {{ field }}<br>
            {{ field.errors }}
        </div><br>
    {% endfor %}
    <input type="submit" value="{% trans "Save" %}">
</form>

{% endblock %}
