{% extends "base.html" %}
{% load i18n %}

{% block css %}
<style>
.project-container:after, .project-container .header:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.project-container:after, .project-container .header:after {
  content: "";
  display: table;
  clear: both;
}
.project-container .header {
    margin-bottom: 10px;
    text-align: center;
}
.project-container .header > * {
    float: left;
}
.project-container .header .author {
    margin-right: 10px;
}
.project-container .column {
    float: left;
}
.project-container .left {
    width: 75%;
}
.project-container .right {
    width: 20%;
}
.tags {
    margin-top: 10px;
}
.amount {
    margin-bottom: 10px;
}
.benefit {
    margin-bottom: 10px;
}
</style>

{% endblock css %}

{% block content %}

<div class="project-container">
    <div class="column left">
        <div class="header">
            <div class="author">
                <img src="{{ project.user.profile.get_avatar }}"><br>
                <a href="{% url "profile" project.user.username %}" target="_blank">{{ project.user.username|capfirst }}</a>
            </div>
            <h1>{{ project.name }}</h1>
        </div>
        {{ project.desc|removetags:"script style iframe form"|safe }}
        <div class="tags">
            <b>{% trans "Tags" %}:</b>
            {% for tag in project.tags.all %}
                {{ tag.name }}            
            {% endfor %}
        </div>

        <h3>{% trans "Files" %}:</h3>
        <ol>
        {% for file in project.files.all %}
            <li><a href="{{ file.file.url }}">{{ file.original_filename }}</a></li>
        {% endfor %}
        </ol>
    </div>
    <dir class="column right">
        <b>{% trans "Target amount" %}:</b>
        <div class="amount">{{ project.amount }} bucks</div>

        <div>{{ project.deadline|date:"jS F Y H:i T" }}</div>

        <h3>{% trans "benefits" %}:</h3>
        {% for benefit in project.benefits.all %}
            <div class="benefit">
                <b>{{ benefit.amount }}</b>. {{ benefit.text|linebreaksbr }}
            </div>
        {% endfor %}
    </dir>
</div>

{% endblock content %}
