{% extends "base.html" %}
{% load i18n %}
{% load mptt_tags %}

{% block css %}
<style>
.project-container:after, .project-container .header:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.project-container:after, .project-container .header:after {
  content: "";
  display: table;
  clear: both;
}
.project-container .header {
    margin-bottom: 10px;
    text-align: center;
}
.project-container .header > * {
    float: left;
}
.project-container .header .author {
    margin-right: 10px;
}
.project-container .column {
    float: left;
}
.project-container .left {
    width: 75%;
}
.project-container .right {
    width: 20%;
}
.tags {
    margin-top: 10px;
}
.amount, .donators {
    margin-bottom: 10px;
}
.benefit {
    margin-bottom: 10px;
}
.errors {
    color: red;
}
.comment-form-prototype {
    display: none;
}
.comment-form textarea {
    border: 1px solid gray;
}
.parsley-error {
    border: 1px solid red !important;
    background-color: #FFECEC;
}
ul.parsley-error-list {
    display:none !important;
}
ul.parsley-error-list li {
    display:none !important;
}
</style>

{% endblock css %}

{% block js %}
<script>
    $(document).ready(function(){
        $('.donation-form').submit(function(){
            var form = $(this);

            form.parsley('validate');
            if (form.parsley('isValid')) {
                $.post(form.attr('action'), form.serialize(), function(data){
                    if (data.success) {
                        document.location.reload(true);
                    }
                    else {
                        form.find('.errors').html(data.errors);
                    }
                });
            }

            return false;
        });

        $('.comment-form-prototype form').submit(function(){
            return false;
        });

        $('.reply').click(function(){
            var form = $('.comment-form-prototype form').clone();
            var button = $(this);
            form.addClass('comment-form');

            if (button.hasClass('comment-reply')) {
                var id = button.attr('data-id');
                form.find('#id_parent').attr('value', id);
            }

            button.hide();
            button.after(form);

            return false;
        });

        $(document).on('submit', '.comment-form', function(){
            var form = $(this);
            form.parsley('validate');
            if (form.parsley('isValid')) {
                $.post(form.attr('action'), form.serialize(), function(data){
                    if (data.success) {
                        window.location = window.location.toString().split('#')[0] + '#comment-' + data.comment_id;
                        window.location.reload(true);
                    }
                })
            }

            return false;
        });

        $(document).on('click', 'form .cancel', function(){
            var form = $(this).parents('form');
            form.prev().show();
            form.remove();
        });
    });
</script>
{% endblock js %}

{% block content %}

<div class="project-container">
    <div class="column left">
        <div class="header">
            <div class="author">
                <img src="{{ project.user.profile.get_avatar }}"><br>
                <a href="{% url "profile" project.user.username %}" target="_blank">{{ project.user.username|capfirst }}</a>
            </div>
            <h1>{{ project.name }}</h1>
        </div>
        {{ project.desc|removetags:"script style iframe form"|safe }}
        <div class="tags">
            <b>{% trans "Tags" %}:</b>
            {% for tag in project.tags.all %}
                <a href="{% url "home" %}?search={{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}
        </div>

        <h3>{% trans "Files" %}:</h3>
        <ol>
        {% for file in project.files.all %}
            <li><a href="{{ file.file.url }}">{{ file.original_filename }}</a></li>
        {% endfor %}
        </ol>

        {% if donation_form %}
            <h2>{% trans "Donate to this project" %}:</h2>
            <form action="{% url "project-donate" %}" class="donation-form" method="POST", parsley-validate>
                {% csrf_token %}
                {{ donation_form.project }}
                <b>{{ donation_form.benefit.label_tag }}</b>
                {{ donation_form.benefit }}
                <input type="submit" value="{% trans "Donate" %}">
                <div class="errors"></div>
              
            </form>
        {% endif %}
    </div>
    <dir class="column right">
        <b>{% trans "Status" %}</b>
        <div class="status">{{ project.get_status_display }}</div><br>

        <b>{% trans "Donators" %}:</b>
        <div class="donators">{{ donations|length }}</div>

        <b>{% trans "Target amount" %}:</b>
        <div class="amount">{{ project.amount }} bucks</div>

        <b>{% trans "Collected amount" %}:</b>
        <div class="collected amount">{{ collected_amount }}</div>

        <div>{{ project.deadline|date:"jS F Y H:i T" }}</div>

        <h3>{% trans "benefits" %}:</h3>
        {% for benefit in project.benefits.all %}
            <div class="benefit">
                <b>{{ benefit.amount }}</b>. {{ benefit.text|linebreaksbr }}
            </div>
        {% endfor %}
    </dir>
</div>

<div class="comment-form-prototype">
    <form action="{% url "project-comment-save" %}" method="POST" parsley-validate>
        {% csrf_token %}
        {% for field in comment_form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {{ comment_form.comment }}<br>
        <input type="submit" value="{% trans "Save" %}">
        <button class="cancel">{% trans "Cancel" %}</button>
    </form>
</div>

<ul>
    {% recursetree comments %}
        <li>
            <a name="comment-{{ node.pk }}"></a>
            {{ node.comment|linebreaks }}
            <a href="{% url "profile" node.user.username %}">{{ node.user.username }}</a> <b>{{ node.timestamp }}</b>
            <a href="#comment-{{ node.pk }}">{% trans "comment link" %}</a><br>
            {% if request.user.is_authenticated %}
                <button class="reply comment-reply" data-id="{{ node.pk }}">{% trans "Reply" %}</button>
            {% endif %}
            <hr>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

<button class="reply post-reply">{% trans "Add comment" %}</button>
{% endblock content %}
